
<h1> Search results for <%= input %>:</h1>

<% facts.forEach(fact => { %>
    <div>
        <h2><%= anime.name %></h2>

        <h4>birth year: <%= person.birth_year %> </h4>

        <h4>hair color: <%= person.hair_color %> </h4>


    </div>
<% }) %>