<h1>Anime Facts</h1>
<p>Search an Anime below to show fact results</p>

<form method="GET" action="/results">
    <lable for="search"></lable>
    <input type="text"  id="search" name="animeSearch" />
  
    <input type="submit" />
  </form>